<a href="https://colab.research.google.com/github/VitalZH/HT1_VZ_14_05/blob/main/HT2_VZ_py_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Задачи на циклы и оператор условия------
#----------------------------------------

'''
Задача 1
Вывести на экран циклом пять строк из нулей длиной 4, причем каждая строка должна быть пронумерована.
Пример:
    0 0000
    1 0000
    2 0000
    3 0000
....
'''

# решение задача №1
i = 0
str_num = 0
while i <= 4:
  print('#', str_num, end = ' _ ')
  print('0000')
  i += 1
  str_num += 1
print('end')

# 0 _ 0000
# 1 _ 0000
# 2 _ 0000
# 3 _ 0000
# 4 _ 0000
end

In [7]:
'''
Задача 2
Пользователь в цикле вводит 10 производных цифр. Выведите количество введеных пользователем цифр 5.
'''

# Решение задача №2
count_num = 0 
step_num = 0
while step_num <= 9:
  enter_dig = ''
  while not enter_dig.isdigit():
    enter_dig = input('Введите числовое значение: ')
  enter_dig = int(enter_dig)
  step_num += 1
  if enter_dig == 5:
    count_num += 1
  print('Вы ввели значение "5":', count_num, 'раз')
print('End')
#Вопрос, почему isdigit() не работатет с отрицательными числами как избежать

Введите числовое значение: 1
Вы ввели значение "5": 0 раз
Введите числовое значение: 5
Вы ввели значение "5": 1 раз
Введите числовое значение: 5
Вы ввели значение "5": 2 раз
Введите числовое значение: -3
Введите числовое значение: 3
Вы ввели значение "5": 2 раз
Введите числовое значение: 5
Вы ввели значение "5": 3 раз
Введите числовое значение: -4
Введите числовое значение: -5
Введите числовое значение: 1
Вы ввели значение "5": 3 раз
Введите числовое значение: 78
Вы ввели значение "5": 3 раз
Введите числовое значение: 5
Вы ввели значение "5": 4 раз
Введите числовое значение: -5
Введите числовое значение: -3
Введите числовое значение: ааа
Введите числовое значение: ввв
Введите числовое значение: 3
Вы ввели значение "5": 4 раз
Введите числовое значение: 12
Вы ввели значение "5": 4 раз
End

In [ ]:
'''
Задача 3
Вывести сумму ряда чисел от 1 до 100. Полученный результат вывести на экран.
'''
#Решение, задача №3
sum_count = 0
step_num = 1
while step_num <=100:
  sum_count = sum_count + step_num
  step_num += 1
print('Summ of diget row from 1 to 100: ', sum_count)

Summ of diget row from 1 to 100:  5050

In [ ]:
'''
Задача 4
Найти произведение ряда чисел от 1 до 10. Полученный результат вывести на экран(можно поискать в интернете алгоритм факториала в python).
'''
#Решение, задача №4 вар.1
factorial_count = 1
step_num = 1
while step_num <=10:
  factorial_count = factorial_count * step_num
  step_num += 1
print('VAR_1 - Factorial of diget row from 1 to 100: ', factorial_count)

Factorial of diget row from 1 to 100:  3628800

In [6]:
#Решение, задача №4 вар.2
n = int(input('Enter factorial number:'))

factorial = 1
while n > 1:
  factorial = factorial * n
  n = n - 1
print('Factorial of above number equals to:', factorial)
print('end')

Enter factorial number:8
Factorial of above number equals to: 40320
end

In [30]:
'''
(!!!Подсказка на следующую задачу - превратите число в строку, а потом работайте с строкой)
Задача 5
Вывести цифры числа на каждой новой строке.
Пример:
     123567
     1
     2
     3
     4
     5
     6
     7
'''
#Решение, задача №5
slovo = ''
while not slovo.isdigit():
  slovo = input('inter digit row:')
print(type(slovo))
#slovo =str(slovo)

for i in slovo:
  print(i)

inter digit row:wwe123
inter digit row:12345
<class 'str'>
1
2
3
4
5